server:
  port: ${CONFIG_SERVER_PORT:8888}

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.actuate.autoconfigure.metrics.SystemMetricsAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.metrics.MetricsAutoConfiguration
  profiles:
    active: native
    application:
      name: config-server
    cloud:
      config:
        server:
          native:
            search-locations: classpath:/configuraciones #Esto es la ruta donde van a estar las configuraciones de todos los microservicios

management:
  metrics:
    binders:
      system:
        enabled: false


logging:
  level:
    org.springframework.cloud.config: DEBUG