server:
  port: ${CONFIG_SERVER_PORT:8888}
  adress: 0.0.0.0

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI:https://github.com/JoseR23072/Configuraciones-microservicios.git}
          search-paths: configuraciones
          default-label: ${CONFIG_GIT_DEFAULT_LABEL:main}
          timeout: ${CONFIG_GIT_TIMEOUT:10}
          clone-on-start: true


management:
  endpoints:
    web:
      exposure:
        include: health,info

  metrics:
    enable:
      all: false